html, body {
  background: #F6F0E6;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  position: relative;
}

h5 {
  margin: 0px;
  text-transform: uppercase;
  color: #666666;
}

hr {
  height: 1px;
  border: 0px;
  margin: 2px 0px;
  background: #999999;
}

footer {
  width: 100%;
  background: #A6A096;
  height: 130px;
  margin-top: 50px;
  bottom: 0px;
}

.backstage-container {
  width:  30%;
  height: 100%;
  float: right;
}

.container {
  padding-top: 20px;
  width: 80%;
  height: 600px;
  margin: auto;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.gap {
  height: 40px;
}

.hidden {
  display: none;
}

.result {
  margin: 10px;
  display: inline-block;
  max-width: 100px;
  max-height: 100px;

  -moz-animation-name: grow;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.3s;

  -webkit-animation-name: grow;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.3s;

  animation-name: grow;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

.results {
  height: 100%;
  max-height: 450px;
  overflow-y: scroll;
}

.results-header {
  width: 10%;
}

.search-bar-container {
  float: left;
  width: 66%;
}

.search-input {
  width: 60%;
}

.search-submit {
  width: 18%;
}

.stage-container {
  float: left;
  width: 66%;
  height: 100%;
  font-family: Kiddish;
  font-size: 14pt;
  z-index: 950;
}

.term {
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #999999;
  color: #999999;
}

.img-wrapper {
  display: inline-block;
}

#bg-img.hamburger{
  position: absolute;
  max-height:100%;
}

#bg-img.hotdog{
  position: absolute;
  max-width:100%;
}

#grow-button {
  width: 100px;
  height: 100px;
  color: #009900;
  position: absolute;
}

#invite-wrapper {
  width: 800px;
  margin: 0px auto;
  padding: 20px;
}

#invite-link {
  border: 1px solid #666;
  background: #CCCCCC;
  margin-top: 10px;
  padding: 10px;
  color: #999;
  cursor: pointer;
}

#next-stage, #prev-stage {
  text-decoration: none;
  position: absolute;
  top: 50%;
  font-size: 100px;
  transform: translateY(-50%);
  color: gray;
}

#next-stage {
  right: 5px;
  cursor: pointer;
}

#prev-stage {
  left:5px;
  cursor: pointer;
}

#queryfield {
  box-sizing: border-box;
  padding: 5px;
  font-size: 14pt;
  height: 30pt;
}

#results-container {
  margin-top: 40px;
}

#stage {
  width: 100%;
  height: 90%;
  position: absolute;
}

#stage-inner {
  width: 100%;
  height: 90%;
  /*padding: 0.5em;*/
  border: 1px solid #999999;
  position: relative;
  z-index: 950;
  background: #FBFBFB;
  box-sizing: border-box;
  overflow: hidden;
}

#start_button {
  float: right;
  width: 18%;
  margin-right: 2%;
  height: 30pt;
}

#start_button img {
  top: -5pt;
  position: relative;
}

#submitbutton {
  box-sizing: border-box;
  padding: 5px;
  font-size: 14pt;
  height: 30pt;
  float: right;
}

#trash {
  width: 100px;
  height: 100px;
  border: 1px solid #999999;
}

@font-face {
  font-family: Kiddish;
  src: url("../fonts/Kiddish.ttf");
}

@-moz-keyframes grow {
    0% {
        max-width: 0px;
        max-height: 0px;
    }
    100% {
        max-width: 100px;
        max-height: 100px;
    }
}
@-webkit-keyframes grow {
    0% {
        max-width: 0px;
        max-height: 0px;
    }
    100% {
        max-width: 100px;
        max-height: 100px;
    }
}
@keyframes grow {
    0% {
        max-width: 0px;
        max-height: 0px;
    }
    100% {
        max-width: 100px;
        max-height: 100px;
    }
}