#name {
	font-size: 24px;
	border: 0;
	border-bottom: 2px dashed #ccc;
	width: 310px;
	box-shadow: none;
	min-height: 40px;
  text-align: center;
  letter-spacing: 1.8px;
}

body {
  font-family: "Lucida Grande", "Arial", sans-serif;
  padding: 50px 20px;
}

img {
	height: 200px;
}

#donebutton {  
	margin-top: 15px;
	width: 280px;
	-webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.5px;
  background: #f8b438;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

#donebutton:hover {
  background: #ebab37;
}

#warning {
	display: none;
	padding-top: 10px;
  color: red;
  font-style: italic;
  font-size: smaller;
}

.center {
  margin: 0px auto;
  /*margin-top: 100px;*/
  text-align: center;
}