#name {
	font-size: 28px;
	border: 0;
	border-bottom: 2px dashed #ccc;
	width: 400px;
	box-shadow: none;
	min-height: 40px;
}

body {
  font-family: "Lucida Grande", "Arial", sans-serif;
  padding: 50px 20px;
}

img {
	height: 200px;
}

#donebutton {  
	margin-top: 50px;
	width: 80px;
	-webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.5px;
  background: #f8b438;
}

#donebutton:hover {
  background: #ebab37;
  cursor: pointer;
}

#warning {
	display: none;
	padding-top: 20px;
}